html {
box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
}

@font-face {
    font-family: "Inter";
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

body {
    background-color: #141414;
    font-family: "Inter";
}

.card__wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: hsl(0, 0%, 12%);
    display: flex;
    align-items: center;
    height: 611px;
    width: 384px;
    justify-content: center;
    flex-direction: column;
}

.card__items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.card__item {
    height: 45px;
    width: 304px;
    background-color: hsl(0, 0%, 20%);
    font-weight: bold;
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 1rem;
}

.card__item:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
}

p {
    color: hsl(0, 0%, 100%);
}

.name-address {
    color: hsl(0, 0%, 100%);
    text-align: center;
}

.name-address p {
    color: hsl(75, 94%, 57%);
    margin-top: 4px;
}

h1 {
    margin-bottom: 0;
}

img {
    display: block;
    height: 88px;
    width: 88px;
    clip-path: circle();
}